body {
  width: 90%;
  max-width: 969px;
  margin: 2em auto;
  font-family: "Montserrat";
  font-style: normal;
}

.container,
.ingredent-grid,
.instruction-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}




header {
  grid-column: 1/9;
  grid-row: 1;
  
}
h1{
  font-family: "Playfair Display";
font-weight: bold;
font-size: 48px;
line-height: 64px;
}
.ingredent p{
  font-family: "Playfair Display";
font-style: italic;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}
.recipe-img {
  grid-row: 2;
  grid-column: 1/13;
}
.recipe-img img {
  width: 969px;
  max-width: 100%;
  height: auto;
}
/* all about grid   */
.ingredent {
  grid-row: 3;
  grid-column: 1/8;
}

.box {
  width: 21px;
  height: 21px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
}
.instruct-box {
  width: 32px;
  height: 36px;
  background: #f2994a;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  grid-column: 1/2;
  grid-row: 1;
}
.ing-1 {
  grid-column: 2/13;
  grid-row: 1;
}
.box-2 {
  grid-column: 1/2;
  grid-row: 2;
}
.ing-2 {
  grid-column: 2/13;
  grid-row: 2;
}

.box-3 {
  grid-column: 1/2;
  grid-row: 3;
}
.ing-3 {
  grid-column: 2/13;
  grid-row: 3;
}
.box-4 {
  grid-column: 1/2;
  grid-row: 4;
}
.ing-4 {
  grid-column: 2/13;
  grid-row: 4;
}
.box-5 {
  grid-column: 1/2;
  grid-row: 5;
}
.ing-5 {
  grid-column: 2/13;
  grid-row: 5;
}
.box-6 {
  grid-column: 1/2;
  grid-row: 6;
}
.ing-6 {
  grid-column: 2/13;
  grid-row: 6;
}
.box-7 {
  grid-column: 1/2;
  grid-row: 7;
}
.ing-7 {
  grid-column: 2/13;
  grid-row: 7;
}
/* to continue with grid of second ingredent am using grid  */

.sidebar {
  grid-column: 10/13;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin-top: 20px;
  width: 216px;
  height: 367px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  align-content: space-evenly;
}
.sidebar i {
  grid-column: 4/7;
  align-self: center;
}
.oran{
    color: #f2994a;
}


.sidebar div{
  grid-column: 6/11;
}
.sidebar  p{
  width: 80px;
  margin-top: 7px;
font-weight: 500;
font-size: 14px;
line-height: 17px;

}
.sidebar  span{

font-weight: bold;
font-size: 10px;
line-height: 12px;
text-transform: uppercase;
color: #BDBDBD;
}
.instruction {
  grid-column: 1/8;
  grid-row: 4;
}
.qoute {
  grid-column: 1/11;
  grid-row: 5;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #bdbdbd;
}
footer {
  text-align: center;
  margin-top: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
